@page "/"
<div class="mx-auto" style="width: 500px;">
  <h1>OSRS FLIP TRACKER</h1>
</div>
<h3>Enter a flip</h3>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Item Name</label>
    <input type="text" class="form-control" placeholder="Dragon Dart" @bind="newItemName">
  </div>  
  <div class="form-group">
    <label for="exampleInputEmail1">Buy Price</label>
    <input type="number" class="form-control" placeholder="1200" @bind="newBuyPrice">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Sell Price</label>
    <input type="number" class="form-control" placeholder="1300" @bind="newSellPrice">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Quatity</label>
    <input type="number" class="form-control" placeholder="11000" @bind="newQuantity">
  </div>
  <div class="float-end">
      <button @onclick="CalculateFlip" type="button" class="btn btn-success mt-2">Calculate</button>
      <button @onclick="AddFlip" type="button" class="btn btn-primary mt-2">Submit</button>
  </div>
</form>

<span><b>Margin: </b>@newMargin<b>Profit: </b>@newProfit</span>

<br />
<br />
<h3>Flip History</h3>
<div class="table-responsive table-hover">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Buy</th>
      <th scope="col">Sell</th>
      <th scope="col">Margin</th>
      <th scope="col">Quantity</th>
      <th scope="col">Profit</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var flip in flips)
   {
     <tr>
      <th scope="row">1</th>
      <td>@flip.ItemName</td>
      <td>@flip.BuyPrice</td>
      <td>@flip.SellPrice</td>
      <td>@(flip.SellPrice - @flip.BuyPrice)</td>
      <td>@flip.Quantity</td>
      <td>@((flip.SellPrice - @flip.BuyPrice) * flip.Quantity)</td>
    </tr>
   }
  </tbody>
</table>
</div>


@code{
    public string? newItemName;
    private int newBuyPrice;
    private int newSellPrice;
    private int newQuantity;

    private int newMargin;
    private int newProfit;

    private List<Flip> flips = new();

    private void CalculateFlip()
    {
        newMargin = newSellPrice - newBuyPrice;
        newProfit = newQuantity * newMargin;
    }

    private void AddFlip()
    {
        if (!string.IsNullOrWhiteSpace(newItemName)){
           flips.Add(new Flip(newItemName, newBuyPrice, newSellPrice, newQuantity));
                newItemName =  string.Empty;
                newBuyPrice =  0;
                newSellPrice =  0;
                newQuantity =  0;
        }
    }
    }